.top-bar li {
    display: inline;
    text-align: center;
}

.top-bar li a {
    width: 100px;
}

.top-bar .one:hover~hr {
    margin-left: 0% !important;
}

.top-bar .two:hover~hr {
    margin-left: 25% !important;
}

.top-bar .three:hover~hr {
    margin-left: 50% !important;
}

.top-bar .four:hover~hr {
    margin-left: 75% !important;
}

.top-bar hr {
    background: var(--clickable-color);
    height: 3px;
    width: 25%;
    margin: 0;
    border: none;
    transition: .3s ease-in-out;
}

.top-bar {
    float: right;
    position: relative;
    top: -270px;
    right: 100px;
}

.top-bar a {
    display: inline-block;
    width: 25%;
    padding: 5px 0;
    text-decoration: none;
    color: var(--accent-color)
}